html {
    height: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: #111;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.container-logo {
    position: absolute;
    top: 10px;
    left: calc(50% - 200px);
    width: 400px;
    height: 80px;
    background-image: url("../img/logo_400x80.png");
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    margin-top: 95px;
    width: 1000px;
    background: #db0000;
    border: 1px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#sub-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 1000px;
    background: #fff;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#main-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: flex-start;
    width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    height: calc(100% - 200px);
    padding: 0px;
    top: -1px;
    margin-top: 0px;
    background: #ffffff;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow-y: auto;
}

#footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 1000px;
    background: #ffffff;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

#footer label {
    padding: 0 20px;
}


/******************************************** MENU ******************************************/

nav a:link {
    color: #fff;
    text-decoration: none;
}

nav a:visited {
    color: #fff;
}

nav a:hover {
    color: #000 !important;
}

nav a:link {
    margin-right: 30px;
    margin-top: 20px;
}

nav span {
    margin-right: 30px;
    margin-top: 20px;
    color: #fff;
}

nav a.active {
    font-weight: 600;
    color: #000;
}

#sub-menu a:link {
    color: #db0000;
    text-decoration: none;
}

#sub-menu a:hover {
    color: #000 !important;
}

#sub-menu a:link {
    margin-right: 30px;
    margin-top: 5px;
}

#sub-menu a:visited {
    color: #db0000;
}


/****************************************** FOOTER ******************************************/

#footer {
    color: #ccc;
}

#footer #footer_logout_label:hover {
    cursor: pointer;
    color: #db0000;
}

/****************************************** MESSENGER ******************************************/

#messenger {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: 100;
}

#messenger>div {
    display: inline-block;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
    white-space: nowrap;
    border: solid 1px #db0000;
    color: #000;
    background-color: #fff;
}

/****************************************** TABLE ******************************************/

table,
#all_movies {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
}


tbody tr:hover {
    background-color: #eeeeee;
}

table,
th,
td {
    padding: 5px 0 5px 5px;
}


.table-actions div {
    display: inline-block;
    margin: 0 8px 0 0;
}

.table-actions div:hover {
    cursor: pointer;
}