html {
    height: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: #111;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.container-logo {
    position: absolute;
    top: 10px;
    left: calc(50% - 200px);
    width: 400px;
    height: 80px;
    background-image: url("../img/logo_400x80.png");
    background-repeat: no-repeat;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    margin-top: 95px;
    width: 1000px;
    background: #db0000;
    border: 1px solid black;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#sub-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 25px;
    width: 1000px;
    background: #ffffff;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#main-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    width: 1000px;
    margin-left: 20px;
    margin-right: 20px;
    height: calc(100% - 200px);
    padding: 0px;
    top: -1px;
    margin-top: 0px;
    background: #ffffff;
    border-left: 1px solid black;
    border-right: 1px solid black;
    overflow-y: auto;
}

#footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 25px;
    width: 1000px;
    background: #ffffff;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


/**************************************************************************************/

a:link {
    color: #fff;
    text-decoration: none;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #831010 !important;
}

nav a:link {
    margin-right: 30px;
    margin-top: 20px;
}

nav span {
    margin-right: 30px;
    margin-top: 20px;
    color: #fff;
}

a.active {
    font-weight: 700;
    color: #000;
}

/****************************************** FOOTER ******************************************/

#footer {
    color: #999;
}

#footer #logout_label:hover {
    cursor: pointer;
    color: #db0000;
}