#container_user_info,
#container_update_user_info {
    padding: 50px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#container_address,
#container_add_address,
#container_update_address,
#container_delete_address {
    display: inline-block;
    width: 550px;
    height: 300px;
    padding: 50px 0 0 50px;
}

#add_address_form,
#update_address_form {
    /* display: none; */
    padding-top: 15px;
    /* width: 950px; */
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

#container_user_info div,
#container_update_user_info form div,
#container_address div {
    margin: 5px 0px;
}

#address_form label {
    margin: 0px 0px 1px 0px;
}

#address_form input {
    margin: 0px 0px 5px 0px;
}